<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://mybatis.org/schema/mybatis-spring
       http://mybatis.org/schema/mybatis-spring.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <!--相当于让spring读取外部的properties文件
    placeholder:占位符的意思

spring会读取很多地方的一些属性,比如当前操作系统的环境变量
jdk设置的属性值等

所以某些环境可能导致properties文件的内容会被其它覆盖,所以
建议设置一个local-override=true
    -->
    <context:property-placeholder location="classpath:db.properties" local-override="true"/>
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="${jdbc.username}"/>

        <property name="password" value="${jdbc.password}"/>
        <property name="url" value="${jdbc.url}"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!--前缀classpath是spring拥有的一种查找资源的方式,意思就是在当前项目的类路劲下面查找文件
        classpath* 这个前缀是在当前项目的类路径以及它所依赖的其它jar文件里面找

        configLocation就是引入mybatis的配置文件.其不支持classpath*前缀,也不支持ant风格的文件路径格式


        分析spring源代码可以知道,当bean的属性类型是Resource类型时,用ResourceEditor来把字符串转换为Resource类型
        当Bean的类型是Resource[]类型时,用ResourceArrayPropertyEditor来把字符串转换为Resource[]类型

        ResourceEditor用到的是ResourceLoader,其就不支持classpath*前缀,并且也不支持ant风格的路径格式

        而ResourceArrayPropertyEditor用的是ResourcePatternResolver(ResourceLoader子类型),
        它支持classpath*前缀,也支持ant风格的路径

ant地址格式:classpath*:a/**/*mapper.xml:满足此ant地址格式的文件名有如下几个:
1: a/b/amapper.xml
2:a/b/bmapper.xml
3:a/b/abcmapper.xml
4.a/b/c/abcmapper.xml
**:多段的意思
classpath*:com/dao/**/*mapper.xml
        -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>

    </bean>

    <mybatis:scan base-package="com.dao"/>

    <bean id="employeeService" class="com.dao.EmployeeDaoImpl" autowire="byType"/>



</beans>