<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--
        关于这方面的详细可以在官方文档中搜索ProxyFactoryBean去了解
        主要在官方文档的spring aop api这一节中

    -->

    <bean id="myAdvisor" class="com.advisor.MyAdvisor"/>
    <bean id="emp" class="com.dao.EmployeeDaoImpl"/>
    <bean id="empFactory" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="emp"></property>
        <property name="interfaces">
            <list>
                <value>com.service.EmployeeService</value>
            </list>
        </property>

        <property name="interceptorNames">
            <list>
                <value>myAdvisor</value>
            </list>
        </property>
    </bean>
</beans>