<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--
    下面这个配置,相当于让spring理解一些注解
    可以取代context-annotation-config这个配置
    所以就不需要重复配置

-->
    <context:component-scan base-package="com"   >
            <!--<context:exclude-filter type="" expression=""/>-->
    </context:component-scan>

   <!-- <context:annotation-config></context:annotation-config>-->

    <!--
    这个配置项的作用,可以理解为让spring理解@Aspect,@Before这样的关于aop的注解
    -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>


</beans>