<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.EmployeeDao">
    <insert id="insert" >
       insert into employee(username) values('aaabbbcccdee')
    </insert>

    <select id="getAll" resultType="com.entity.EmployeeEntity">
        select id,username from employee order by  id
    </select>
</mapper>